<app-header></app-header>
<div class="container">
<section class="ventana-emergente">
    <ng-template #contenido let-c="close" let-d="dismiss" class="template">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"><strong>¡¡INSTRUCCIONES!!</strong></h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>       
      </div>
      <div class="modal-body">
        <div>
          <p>A continuación encontrará, una serie de frases que permitirán conocer sus actitudes e intereses. En
            general, no existen contestaciones correctas o incorrectas, por que las personas tienen distintos intereses
            y ven
            las cosas desde distintos puntos de vista. Conteste con sinceridad; de esta forma se podrá conocer mejor su
            forma de ser. <br>
            Cada frase contiene tres posibles respuestas (A, B y C) y
            normalmente la alternativa B viene con un interrogante, para ser señalada cuando no es posible decidirse
            entre la A ó la C. Las frases están ordenadas
            numéricamente; siga esta numeración al contestar. Lea atentamente cada frase y las posibles respuestas; así
            le será más fácil decidirse. <br>
            Ahora lea los ejemplos que se presentan a continuación y piense en como los contestaría. A modo de
            práctica, marque en la sección “Ejemplos de Prueba” de la Hoja de Respuestas, sus preferencias. Si tiene
            dudas pregunte al examinador. <br>
            
            </p>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Aceptar</button>
    </div>
    </ng-template>
  </section>
  <section>
    <div class="pregunta"
        *ngFor="let pregunta of preguntas let preguntaindex = index ">
        <span for=preguntas> <strong>{{pregunta.orden}}. {{pregunta.descripcion}}</strong></span>

        <div>
          <br>
          <mat-button-toggle-group #res="matButtonToggleGroup"
          *ngFor="let item of respuestas; let indice = index">
            <mat-button-toggle class="chip"
              [ngClass]="esRespuestaSeleccionado(item, pregunta.orden) ? 'chip-hito-select' : 'chip'"
              (click)="agregar(item, pregunta.orden)">
              {{item}}
            </mat-button-toggle>
          </mat-button-toggle-group>
        <div class="labels">
          <div class="label-left">Totalmente en desacuerdo</div>
          <div class="label-right">Totalmente de acuerdo</div>
        </div>
        </div>

      </div>
      <button class="btn btn-primary" type="submit" (click)="enviar()">Prueba</button>
  </section>
</div>
